STRINGTABLE
BEGIN
start "start"
myPrefix_goon_mySuffix "go on"
myPrefix_next_mySuffix "next"
myPrefix_last_mySuffix "last"
myPrefix_time_mySuffix "time"
myPrefix_111_mySuffix "111"
myPrefix_222_mySuffix "222"
myPrefix_title2_mySuffix "title2"
END
